<div class="form-group">
    <label for="title">Titre</label>
    <input type="text" name="title" id="title" class="form-control">
</div>
<div class="form-group">
    <label for="Description">Description/Filières</label>
    <textarea name="description" id="description" class="form-control"></textarea>
</div>
<div class="form-group">
    <label for="markdown">Avis</label>
    <textarea name="markdown" id="makdown" class="form-control"></textarea>
</div>

<div class="mt-4">
    <a href="/" class="btn btn-secondary">Cancel</a>
    <button type="submit" class="btn btn-primary">Save</button>
</div>