<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
    <title>TéléAvis (beta)</title>

</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">TéléAvis</a>
          </div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Cours</a></li>
            <li><a href="#">Rezel</a></li>
            <li><a href="#">A propos</a></li>
          </ul>
        </div>
      </nav>

    <div class="container">
       
         <h2 class="subtitle">Ici on partage nos avis sur les filières et les cours à Télécom Paris</h2>
        <a href="/articles/new" class="btn btn-success">New Article</a>

        <% articles.forEach(article=>
            {%>
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class="card-title">
                        <%= article.title %>
                    </h4>
                    <div class="card-subtitle text-muted mb-2">
                        <%= article.createdAt.toLocaleDateString(); %>
                    </div>
                    <div class="card-text mb-2">
                        <%= article.description %>
                    </div>
                </div>




            </div>
            <% }) %>


    </div>
</body>

</html>